/* Hide things if we are on mobile devices */
@media screen and (min-width: 0px) and (max-width: 720px) {
  .mobile-hide {
    display: none;
  }

  /* Hide iframes if on mobile */
  iframe {
    width:0;
    height:0;
    border:0;
    border:none;
  }

  img {
    width:100%;
  }
}

img {
  max-width: 100%;
}

table {
   width: 100%;
   margin: auto;
   border-top: 1px solid #666;
   border-bottom: 1px solid #666;
}

table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
